.movies {
    margin: 12rem 0;
};

.movies__row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    gap: 1rem;
};

.row-title {
    margin-left: 2rem;
    margin-bottom: 2rem;
    color: #333;
    display: inline-block;
    padding: .5rem 1.5rem;
};
