.movie__item {
    max-width: 100%;
    cursor: pointer;
    transition: transform .3s ease-in-out;
    transition-delay: .3s;
    margin: 2rem;
}

.movie__item:hover {
    transform: scale(1.1);
}

.movie__item img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    vertical-align: bottom;
    border-radius: var(--border-radius);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, .6);
}