.header {
    color: #fff;
    padding: 1.5rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgb(32, 32, 32);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.384);
    overflow: hidden;
    z-index: 1000;
};

.logo {
    color: #FFF;
    display: inline-block;
    padding: 0 1rem;
    cursor: pointer;
};
