:root {
  --font-primary: 'Asap', sans-serif;

  --color-primary: #204051;
  --color-on-primary: #40a8c4;

  --border-radius: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 60%;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #fff;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}
